Logged in to: {{ ansible_fqdn }}
{{ message }}
  
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@@@     ############     m@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@@     ################   m@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@     #################    m@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@  @@@@   @@@@@   @@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@     ##################     @@@@@@@@@@@   @@@   #@@@@@@@@@@@@@@@@@  @@@@   @@@@@   @@@@@@@@@@@   @@@@@ 
@@@     #####     @@###############     #m@@@@@@   @@@@   @       @@@        @@@@   @@@@@   @       @@       @@ 
@@     #######           ###########     m@@@@@@         @   @@@   @   @@@@  @@@@           @@@@@@   @@   @@@@@ 
@@@     #########               ########    #m@@   @@   @@     ,,,,@   @@@@  @@@@   @@@@@   @   @@   @@   @@@@@ 
@@@@@     ###########@            #######    #m@   @@@   @@       @@@        @@@@   @@@@@   @        @@@    @@@ 
@@@@@@@     #########################    m@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@@@     ####################     m@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@@@@@@@@     #############     m@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
  
*********************************************************************************
You have been identified and granted access to this system as an authorized user.

All activities performed on this device are logged and monitored.

Attempts to inappropriately elevate privilege or circumvent system security 
will result in civil and/or criminal penalties.
*********************************************************************************
